@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold mb-6 uppercase;
  }
  h2 {
    @apply text-xl font-semibold mb-4 uppercase;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply dark:text-white;
  }
  p {
    @apply mb-4;
  }
}

@layer components {
  .link {
    @apply text-purple-800 dark:text-purple-400 visited:text-purple-900 dark:visited:text-purple-600 hover:underline;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.labels-text {
  text-shadow: 1px 1px 3px var(--background);
}